/*****************************
 * Badgerly
 * Written by Steven Hunt
 * MIT License
 *****************************/

/* represents a badge, which has a ribbon and a shape. */
.badge {

  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  /* SHAPES */

  /* common shape properties */
  .circle, .square, .diamond {
    display: inline-block;
    margin: 0;
    padding: 0;
    z-index: 1000;
  }

  /* a diamond is a square rotated. */
  .diamond {
    transform: rotate(45deg);
  }

  /* rotate the contents of the diamond back so that it doesn't look weird. */
  .diamond > * {
    transform: rotate(-45deg);
  }

  /* COLORS */

  .gold {
    background: radial-gradient(gold, palegoldenrod);
    color: goldenrod;
  }

  .silver {
    background: radial-gradient(#fafafa, #dddddd);
    color: #cccccc;
  }

  .bronze {
    background: radial-gradient(darkorange, chocolate);
    color: sienna;
  }

  /* a badge can either have a simple ribbon, or a lanyard with a left and right ribbon. */

  .lanyard {
    position: relative;
    overflow: hidden;

    /* common properties of the left and right ribbon in a lanyard. */
    .ribbon.left, .ribbon.right {
      top: 0;
      position: absolute;
      z-index: 0;
    }
  }

  .ribbon {
    margin: 0;
    padding: 0;
  }

  /* RIBBON PATTERNS */

  /* COUNTRIES */

  /* 13 red and white strips: United States */
  .ribbon.red-white-stripes, .ribbon.usa {
    background: linear-gradient(to right, red, red, red, white, white, white, red, red, red, white, white, white, red, red, red, white, white, white, red, red, red, white, white, white, red, red, red, white, white, white, red, red, red, white, white, white, red, red, red)
  }

  /* red white and blue: Netherlands */
  .ribbon.red-white-blue, .ribbon.netherlands {
    background: linear-gradient(to right, red, red, red, red, red, red, red, red, white, white, white, white, white, white, blue, blue, blue, blue, blue, blue, blue, blue);
  }

  /* red white and green: Mexico, Hungary */
  .ribbon.red-white-green, .ribbon.mexico, .ribbon.hungary {
    background: linear-gradient(to right, red, red, red, red, red, red, red, red, white, white, white, white, white, white, green, green, green, green, green, green, green, green);
  }

  /* blue white and red: France */
  .ribbon.blue-white-red, .ribbon.france {
    background: linear-gradient(to right, blue, blue, blue, blue, blue, blue, blue, blue, white, white, white, white, white, white, red, red, red, red, red, red, red, red);
  }

  /* red white and red: Canada */
  .ribbon.red-white-red, .ribbon.canada {
    background: linear-gradient(to right, red, red, red, red, red, red, red, red, white, white, white, white, white, white, white, white, white, red, red, red, red, red, red, red, red);
  }

  /* green white and red: Italy */
  .ribbon.green-white-red, .ribbon.italy {
    background: linear-gradient(to right, green, green, green, green, green, green, green, green, white, white, white, white, white, white, red, red, red, red, red, red, red, red);
  }

  /* red blue and white: Russia */
  .ribbon.red-blue-white, .ribbon.russia {
    background: linear-gradient(to right, red, red, red, red, red, red, red, red, blue, blue, blue, blue, blue, blue, white, white, white, white, white, white, white, white);
  }

  /* gold red and black: Germany */
  .ribbon.gold-red-black, .ribbon.germany {
    background: linear-gradient(to right, gold, gold, gold, gold, gold, gold, gold, gold, red, red, red, red, red, red, black, black, black, black, black, black, black, black);
  }

  /* SOLID COLORS */

  /* Solid Red */
  .ribbon.red {
    background: linear-gradient(to right, red, darkred, red, darkred, red);
  }

  /* Solid Orange */
  .ribbon.orange {
    background: linear-gradient(to right, orange, darkorange, orange, darkorange, orange);
  }

  /* Solid Yellow */
  .ribbon.yellow {
    background: linear-gradient(to right, yellow, gold, yellow, gold, yellow);
  }

  /* Solid Green */
  .ribbon.green {
    background: linear-gradient(to right, green, darkgreen, green, darkgreen, green);
  }

  /* Solid Blue */
  .ribbon.blue {
    background: linear-gradient(to right, blue, darkblue, blue, darkblue, blue);
  }

  /* Solid Purple */
  .ribbon.purple {
    background: linear-gradient(to right, rebeccapurple, purple, rebeccapurple, purple, rebeccapurple);
  }

  /* Solid Pink */
  .ribbon.pink {
    background: linear-gradient(to right, pink, lightpink, pink, lightpink, pink);
  }

  /* Solid Black */
  .ribbon.black {
    background: linear-gradient(to right, black, #333333, black, #333333, black);
  }

  /* RAINBOW */

  .ribbon.rainbow {
    background: linear-gradient(to right, red, red, orange, orange, yellow, yellow, green, green, blue, blue, purple, purple);
  }
}

/* BADGE SIZES */

/* Tiny - really really small. No difference between border and no border since its too small to tell. */
.badge.tiny {

  @mixin circle {
    border-radius: 5px;
    font-size: 6px;
    text-align: center;
  }

  .circle, .circle.border {
    @include circle;
    width: 10px;
    height: 8px;
    padding-top: 1px;
  }

  .square, .square.border, .diamond, .diamond.border {
    font-size: 6px;
    text-align: center;
    width: 10px;
    height: 8px;
    padding-top: 1px;
  }

  .lanyard {
    height: 6px;
    padding-left: 2px;
    margin-left: -2px;
    margin-right: -2px;
    margin-bottom: -1px;
    width: 12px;

    .ribbon.left {
      transform: translate(-3px, 0) rotate(-20deg);
    }
    .ribbon.right {
      transform: scaleX(-1) translate(-3px, 0) rotate(-20deg);
    }
  }

  .ribbon {
    margin-bottom: -1px;
    margin-left: 3px;
    width: 4px;
    height: 5px;
  }
}

/* Small */
.badge.small {

  width: 30px;
  height: 37px;

  @mixin circle {
    border-radius: 12px;
    font-size: 15px;
    text-align: center;
  }

  .circle {
    @include circle;
    width: 25px;
    height: 20px;
    padding-top: 4px;
  }

  .circle.border {
    @include circle;
    width: 22px;
    height: 19px;
    padding-top: 3px;
  }

  .square {
    font-size: 15px;
    text-align: center;
    width: 25px;
    height: 21px;
    padding-top: 3px;
  }

  .square.border {
    font-size: 15px;
    text-align: center;
    width: 22px;
    height: 20px;
    padding-top: 2px;
  }

  .diamond {
    font-size: 15px;
    text-align: center;
    width: 17px;
    height: 16px;
    padding-top: 0;
    padding-bottom: 1px;
    transform: translate(3px, 0) rotate(45deg);
  }

  .diamond.border {
    font-size: 15px;
    text-align: center;
    width: 16px;
    height: 15px;
    padding-top: 0;
    padding-bottom: 1px;
  }

  .border.gold {
    border: 1px solid goldenrod;
  }
  .border.silver {
    border: 1px solid #cccccc;
  }
  .border.bronze {
    border: 1px solid sienna;
  }

  .lanyard {
    height: 15px;
    padding-left: 5px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -2px;
    width: 30px;

    .ribbon {
      top: 2px;
    }
    .ribbon.left {
      transform: translate(-6px, 0) rotate(-15deg);
    }
    .ribbon.right {
      transform: scaleX(-1) translate(-6px, 0) rotate(-15deg);
    }
  }

  .ribbon {
    margin-bottom: -2px;
    margin-left: 7px;
    width: 10px;
    height: 12px;
  }
}

/* Medium */
.badge.medium {

  width: 60px;
  height: 75px;

  @mixin circle {
    border-radius: 25px;
    font-size: 30px;
    text-align: center;
  }

  .circle {
    @include circle;
    width: 50px;
    height: 42px;
    padding-top: 7px;
  }

  .circle.border {
    @include circle;
    width: 45px;
    height: 40px;
    padding-top: 5px;
  }

  .square {
    font-size: 30px;
    text-align: center;
    width: 50px;
    height: 42px;
    padding-top: 7px;
  }

  .square.border {
    font-size: 30px;
    text-align: center;
    width: 45px;
    height: 40px;
    padding-top: 5px;
  }

  .diamond {
    font-size: 30px;
    text-align: center;
    width: 34px;
    height: 32px;
    padding-top: 0;
    padding-bottom: 2px;
    transform: translate(7px, 0) rotate(45deg);
  }

  .diamond.border {
    font-size: 30px;
    text-align: center;
    width: 32px;
    height: 30px;
    padding-top: 0;
    padding-bottom: 2px;
  }

  .border.gold {
    border: 2px solid goldenrod;
  }
  .border.silver {
    border: 2px solid #cccccc;
  }
  .border.bronze {
    border: 2px solid sienna;
  }

  .lanyard {
    height: 30px;
    padding-left: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -5px;
    width: 60px;

    .ribbon {
      top: 5px;
    }
    .ribbon.left {
      transform: translate(-13px, 0) rotate(-15deg);
    }
    .ribbon.right {
      transform: scaleX(-1) translate(-13px, 0) rotate(-15deg);
    }
  }

  .ribbon {
    margin-bottom: -5px;
    margin-left: 15px;
    width: 20px;
    height: 25px;
  }
}

/* Large */
.badge.large {

  width: 120px;
  height: 150px;

  @mixin circle {
    border-radius: 50px;
    font-size: 60px;
    text-align: center;
  }

  .circle {
    @include circle;
    width: 100px;
    height: 85px;
    padding-top: 15px;
  }

  .circle.border {
    @include circle;
    width: 90px;
    height: 80px;
    padding-top: 10px;
  }

  .square {
    font-size: 60px;
    text-align: center;
    width: 100px;
    height: 85px;
    padding-top: 15px;
  }

  .square.border {
    font-size: 60px;
    text-align: center;
    width: 90px;
    height: 80px;
    padding-top: 10px;
  }

  .diamond {
    font-size: 60px;
    text-align: center;
    width: 69px;
    height: 65px;
    padding-top: 0;
    padding-bottom: 4px;
    transform: translate(14px, 0) rotate(45deg);
  }

  .diamond.border {
    font-size: 60px;
    text-align: center;
    width: 64px;
    height: 60px;
    padding-top: 0;
    padding-bottom: 4px;
  }

  .border.gold {
    border: 5px solid goldenrod;
  }
  .border.silver {
    border: 5px solid #cccccc;
  }
  .border.bronze {
    border: 5px solid sienna;
  }

  .lanyard {
    height: 60px;
    padding-left: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -16px;
    width: 120px;

    .ribbon {
      top: 5px;
    }
    .ribbon.left {
      transform: translate(-25px, 0) rotate(-15deg);
    }
    .ribbon.right {
      transform: scaleX(-1) translate(-25px, 0) rotate(-15deg);
    }
  }

  .ribbon {
    margin-bottom: -10px;
    margin-left: 30px;
    width: 40px;
    height: 50px;
  }
}

/* Huge - possibly with a Y. */
.badge.huge {

  width: 240px;
  height: 300px;

  @mixin circle {
    border-radius: 100px;
    font-size: 120px;
    text-align: center;
  }

  .circle {
    @include circle;
    width: 200px;
    height: 170px;
    padding-top: 30px;
  }

  .circle.border {
    @include circle;
    width: 180px;
    height: 160px;
    padding-top: 20px;
  }

  .square {
    font-size: 120px;
    text-align: center;
    width: 200px;
    height: 170px;
    padding-top: 30px;
  }

  .square.border {
    font-size: 120px;
    text-align: center;
    width: 180px;
    height: 160px;
    padding-top: 20px;
  }

  .diamond {
    font-size: 120px;
    text-align: center;
    width: 138px;
    height: 130px;
    padding-top: 0;
    padding-bottom: 8px;
    transform: translate(28px, 0) rotate(45deg);
  }

  .diamond.border {
    font-size: 120px;
    text-align: center;
    width: 128px;
    height: 120px;
    padding-top: 0;
    padding-bottom: 8px;
  }

  .border.gold {
    border: 10px solid goldenrod;
  }
  .border.silver {
    border: 10px solid #cccccc;
  }
  .border.bronze {
    border: 10px solid sienna;
  }

  .lanyard {
    height: 120px;
    padding-left: 40px;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -32px;
    width: 240px;

    .ribbon {
      top: 10px;
    }
    .ribbon.left {
      transform: translate(-50px, 0) rotate(-15deg);
    }
    .ribbon.right {
      transform: scaleX(-1) translate(-50px, 0) rotate(-15deg);
    }
  }

  .ribbon {
    margin-bottom: -20px;
    margin-left: 60px;
    width: 80px;
    height: 100px;
  }
}